.root{
   --var-ad-color-yellow:#ffff00;
   --var-ad-color-yellow1:#f8f184;
   --var-ad-color-bleu:#19587d;
   --var-ad-color-red:#b11313;
   --var-ad-color-black:#0d0e09;
   --var-ad-color-grey:#c4c4c4;
   --var-ad-color-black1:#000000;
   --var-ad-color-white:#ffffff;
}
